header {
    background-color: #782DC8;
    height: 61px;
}

div a img {
    height: 32px;
    margin-top: 7px;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
}

.list {
    display: flex;
    align-items: center;

}

ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    vertical-align: baseline;
}

ul li a img {
    height: 16px;
    width: 16px;
    margin-left: 35px;
}

span {
    position: relative;
    bottom: 3px;
    margin: 5px 0 0 5px;
}



